@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Resource.e_Quick_Search + " - " + Resource.Berth_Schedule;
}
@using LCMTLCB1WebApplication.Resources
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<style>
    table#titlebar {
        width: 100%;
    }

        table#titlebar tr {
            height: 40px;
        }

        table#titlebar td#title1 {
            width: 25px;
            background-image: url(../images/TitleBG1.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        table#titlebar td#title2 {
            background-image: url(../images/TitleBG2.png);
            background-repeat: repeat-x;
        }

        table#titlebar td#title3 {
            width: 117px;
            background-image: url(../images/TitleBG3.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

    /*-------------------------------------------------------*/
    /*-------------------------------------------------------*/
    /*--------------------Start Here-------------------------*/
    /*-------------------------------------------------------*/
    /*-------------------------------------------------------*/

    .rowMain {
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .rowMain img {
            width: 100%
        }

        .rowMain .detail div {
            display: table;
            height: 100%;
        }

            .rowMain .detail div p {
                vertical-align: middle;
                display: table-cell;
            }

    @@media (min-width: 992px) {
        .divL {
            padding-right: 0;
        }

        .divR {
            padding-left: 0;
        }
    }
</style>

<div class="container">
    <table id="titlebar">
        <tr>
            <td id="title1"></td>
            <td id="title2" class="h2"><strong style="color:#FFFFFF">@Resource.Berth_Schedule</strong></td>
            <td id="title3"></td>
        </tr>
    </table>
    <div class="col-sm-12 col-md-12"><center><hr style="width:100%;margin:5px 0 0 0;border: 3px solid #0950A0;opacity:1"></center></div>
    @*-------------------------------------------------------*@
    @*-------------------------------------------------------*@
    @*--------------------Start Here-------------------------*@
    @*-------------------------------------------------------*@
    @*-------------------------------------------------------*@
    <div class="row rowMain ">

        <br />
        <br />
        <br />
        <br />
        <div class="row">

            <div class="col-md-5 col-lg-5">
                <div class="form-group">
                    <label class="">Vessel Name</label>

                    <select id="txtVesselName" class="form-control form-control-sm select2" asp-items="ViewBag.Vessel"></select>


                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <label class="">Voyage In</label>
                <input type="text" id="txtVoyageIn" class="form-control" value="@ViewBag.VoyageIn" placeholder="" />

            </div>
            <div class="col-md-3 col-lg-3">
                <label class="">Voyage Out</label>
                <input type="text" id="txtVoyageOut" class="form-control" value="@ViewBag.VoyageOut" placeholder="" />
            </div>
            <div class="col-md-1 col-lg-1" style="padding-top:30px;">
                <button id="btnSearch" class="btn btn-primary form-control" type="button">
                    <i class="fa fa-search">Search</i>
                </button>
            </div>
        </div>
        <div id="detailContent">
        </div>
    </div>
</div>
<script type="text/javascript">
     
        $(document).ready(function(){
            localStorage.setItem("PageSize", @ViewBag.InitPageSize);
            $(".select2").select2({
                    placeholder: "Select",
                    allowClear: false
                });

            $("#btnSearch").click(function(){
                if($("#txtVesselName").val()==''){
                    $("#txtVesselName").focus();
                    return;
                }
                //if($("#txtVoyageIn").val()==''){
                //    $("#txtVoyageIn").focus();
                //    return;
                //}
                //if($("#txtVoyageOut").val()==''){
                //    $("#txtVoyageOut").focus();
                //    return;
                //}
                   loadList($("#txtVesselName").val(),$("#txtVoyageIn").val(),$("#txtVoyageOut").val(),$("#ddlPageSize").val(),1);

            });
              
            loadList($("#txtVesselName").val(),$("#txtVoyageIn").val(),$("#txtVoyageOut").val(),@ViewBag.InitPageSize,1);
 
        });

        function loadList(vesselName,voyageIn,voyageOut,pageSize,pageNumber){
            $.post('@Url.Action("Detail","BerthSchedule")',"vesselName="+vesselName+'&voyageIn='+voyageIn+'&voyageOut='+voyageOut+"&pageSize="+pageSize+"&page="+pageNumber, function(result){
                var select = "#detailContent";

                $(select).html(result);
               makePaginator(vesselName,voyageIn,voyageOut,select,pageSize,pageNumber);

            });
        }

        function makePaginator(vesselName,voyageIn,voyageOut,select,pageSize,pageNumber) {
            var sPageSize = localStorage.getItem("PageSize");
           
            $("#ddlPageSize").val(sPageSize);
            $("div.paginator", select).pagination({
                items: $("div.paginator", select).attr("items"),
                itemsOnPage: $("div.paginator", select).attr("itemsOnPage"),
                currentPage: $("div.paginator", select).attr("pageNumber"),
                cssStyle: 'light-theme',
                onPageClick: function (pageNumber) {
                    loadList(vesselName,voyageIn,voyageOut,pageSize,pageNumber);
                }
            });
            $("#ddlPageSize").change(function() {
                localStorage.setItem("PageSize", $(this).val());                
               loadList($("#txtVesselName").val(),$("#txtVoyageIn").val(),$("#txtVoyageOut").val(), $("#ddlPageSize").val(),1);
            });
        }

</script>

