@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Resource.News;
}
@using LCMTLCB1WebApplication.Resources
@model NewsDetailViewModel


<style>
    table#titlebar{
        width: 100%;
    }
    table#titlebar tr{
        height:40px;
    }
    table#titlebar td#title1{
        width:25px;
        background-image: url(../images/TitleBG1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    table#titlebar td#title2{
        background-image: url(../images/TitleBG2.png);
        background-repeat: repeat-x;
    }
    table#titlebar td#title3{
        width:117px;
        background-image: url(../images/TitleBG3.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    /*-------------------------------------------------------*/
    /*-------------------------------------------------------*/
    /*--------------------Start Here-------------------------*/
    /*-------------------------------------------------------*/
    /*-------------------------------------------------------*/
    .rowMain{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .rowMain div.titlename{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .rowMain>span{
        border-bottom: 3px solid #0950A0
    }
    
    .rowMain div.subjet{
        color: #0000FF;
    }
    .rowMain div.detail{
        margin-bottom: 10px;
    }
</style>

<div>
    <table id="titlebar">
        <tr>
            <td id="title1"></td>
            <td id="title2" class="h2" style="color:#FFFFFF"><strong>@Resource.News</strong></td>
            <td id="title3"></td>
        </tr>
    </table>
    <div class="col-sm-12 col-md-12"><center><hr style="width:100%;margin:5px 0 0 0;border: 3px solid #0950A0;opacity:1"></center></div>
    @*-------------------------------------------------------*@
    @*-------------------------------------------------------*@
    @*--------------------Start Here-------------------------*@
    @*-------------------------------------------------------*@
    @*-------------------------------------------------------*@

    <div class="row rowMain">
        <div class="offset-md-3 col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @{
                        int i = 0;
                        foreach (string data in Model.News.Images)
                        {
                            if (i == 0)
                            {
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="active" aria-current="true"  aria-label="Slide @i+1"></button>
                            }else{
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @i+1"></button>
                            }
                            i++;
                        }
                    }
                </div>
                <div class="carousel-inner">
                    @{
                        i = 0;
                        foreach (string data in Model.News.Images)
                        {
                            if (i == 0)
                            {
                                <div class="carousel-item active">
                                    <img src="@data" class="d-block w-100" alt="Slide @i+1">
                                </div>
                            }else{
                                <div class="carousel-item">
                                    <img src="@data" class="d-block w-100" alt="Slide @i+1">
                                </div>
                            }
                            i++;
                        }
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>